<% include ../partials/header %>

<h1>Whiskys</h1>
<div>
    <button id="sortPrice">Sorteer op prijs</button>
</div>

<div id="articles">
    <% articles.forEach(article => { %>
    <div class="article" data-price="<%= article.price %>">
        <p>
            Naam: <%= article.name %> <br>
            Prijs: € <%= article.price %> <br>
            Leeftijd: <%= article.age %> <br>
            Distillerij: <%= article.distillery %> <br>
            Pallet: <%= article.pallet %> <br>
            Land van herkomst: <%= article.country %> <br>
            Regio: <%= article.region %> <br>
            Descriptie: <%= article.description %> <br>
            <input type="number" name="amount" placeholder="0" min="0"> 
            <button type="submit" name="order">bestellen</button>
        </p>
    </div>
    <% }); %>
</div>

<% include ../partials/footer %>