<% include ../partials/header %>

<div class="module-header">
    <h4 class="module-title">Onze Whiskys<button class="btn btn-outline-dark" id="sortPrice">Sorteer op prijs</button></h4>
</div>

<div id="articles" class="row" data-loaded="products">
    <% articles.forEach(article => { %>
        <div class="article col col-md-4" data-price="<%= article.price %>" data-Name="<%= article.name %>" data-Id="<%= article.id %>" data-image="<%= article.image %>">
            <div class="thumbnail">
                <img src="<%= article.image %>" alt="image <%= article.name %>">
            </div>
            <div class="caption">
                <h4><label id="name"><%= article.name %></label></h4>
                <span class="d-flex justify-content-end">€ <label id="price"><%= article.price.toFixed(2).replace(".",",") %></label></span>
                <%= article.description.substring(0,125) %>
                <% if (article.description.length>125) { %>
                    ...
                <% } %>
                <br>
                <input type="number" id="<%= article.id %>" placeholder="0" min="1" oninput="this.value = Math.abs(this.value)"> 
                <button type="button" class="btn btn-outline-dark btn-sm" name="AddToBTN" value="<%= article.id %>">toevoegen</button>
            </div>
        </div>
    <% }); %>
</div>
<script src="/JS/javascript.js"></script>
<script src="/JS/shopping-cart.js"></script>
<% include ../partials/footer %>