<% include ../partials/header %>

<h1>Whiskys</h1>
<div>
    <button id="sortPrice">Sorteer op prijs</button>
</div>

<div id="articles" class="row" data-loaded="products">
    <% articles.forEach(article => { %>
        <div class="article col col-md-4" data-price="<%= article.price %>" data-name="<%= article.name %>" data-id="<%= article.id %>">
            Naam: <label id="name" ><%= article.name %></label> <br>
            Prijs: € <label id="price"><%= article.price.toFixed(2).replace(".",",") %></label> <br>
            Leeftijd: <%= article.age %> <br>
            Distillerij: <%= article.distillery %> <br>
            Pallet: <%= article.pallet %> <br>
            Land van herkomst: <%= article.country %> <br>
            Regio: <%= article.region %> <br>
            Descriptie: <%= article.description %> <br>
            <input type="number" id="<%= article.id %>" placeholder="0" min="0"> 
            <button type="button" name="orderBTN" value="<%= article.id %>">bestellen</button>
        </div>
    <% }); %>
</div>
<script src="/JS/shopping-cart.js"></script>
<% include ../partials/footer %>