<% include ../partials/header %>

    <h1>Profielpagina</h1>

    <!-- add adres form -->
    <form action="/profiel?_method=PUT" method="post">
        <div class="form-group row">
            <div class="col">
                <label>Bedrijfsnaam:</label>
                <input class="form-control" name="updateUser[company]" type="text" value="<%= user.company %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label>Voornaam:</label>
                <input class="form-control" name="updateUser[firstname]" type="text" value="<%= user.firstname %>">
            </div>
            <div class="col">
                <label>Achternaam:</label>
                <input class="form-control" name="updateUser[lastname]" type="text" value="<%= user.lastname %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label>Postcode:</label>
                <input class="form-control" name="updateUser[zipcode]" type="text" value="<%= user.zipcode %>">
            </div>
            <div class="col-md-2">
                <label>Huisnr & toev.</label>
                <input class="form-control" name="updateUser[nr]" type="text" value="<%= user.nr %>">
            </div>
            <div class="col-md-6">
                <label>Telefoonnummer (mobiel):</label>
                <input class="form-control" name="updateUser[phone]" type="text" value="<%= user.phone %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label>Straat:</label>
                <input class="form-control" name="updateUser[street]" type="text" value="<%= user.street %>">
            </div>
            <div class="col">
                <label>Plaats:</label>
                <input class="form-control" name="updateUser[city]" type="text" value="<%= user.city %>">
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-auto justify-content-end">
                <input class="btn btn-primary" type="reset" value="Annuleren">
                <input class="btn btn-primary" type="submit" value="Wijzigen">
            </div>
        </div>
    </form>

<% include ../partials/footer %>