<% include ./partials/header %>

<h1>Whiskeys</h1>
<a href="/sort">
    <button>Sort price low --> high</button>
</a>
<% Articles.forEach(article => { %>
    <div data-price="<%= article.price %>">
        <p>
            Name: <%= article.name %> <br>
            Price: € <%= article.price %> <br>
            Age: <%= article.age %> <br>
            Distillery: <%= article.distillery %> <br>
            Pallet: <%= article.pallet %> <br>
            Country: <%= article.country %> <br>
            Region: <%= article.region %> <br>
            Description: <%= article.description %> <br>
        </p>
    </div>
<% }); %>

<% include ./partials/footer %>