<% include ../partials/header %>

    <div class="module-header">
        <h4 class="module-title">Bestellen</h4>
    </div>

    <form>
        <div class="form-group row">
            <div class="col">
                <label>Bedrijfsnaam:</label>
                <input class="form-control" name="company" type="text" value="<%= typeof userData !== 'undefined' ?  userData.company : '' %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label>Voornaam:</label>
                <input class="form-control" name="firstname" type="text" value="<%= typeof userData !== 'undefined' ?  userData.firstname : '' %>">
            </div>
            <div class="col">
                <label>Achternaam:</label>
                <input class="form-control" name="lastname" type="text" value="<%= typeof userData !== 'undefined' ?  userData.lastname : '' %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label>Postcode:</label>
                <input class="form-control" name="zipcode" type="text" value="<%= typeof userData !== 'undefined' ?  userData.zipcode : '' %>">
            </div>
            <div class="col-md-2">
                <label>Huisnr & toev.</label>
                <input class="form-control" name="nr" type="text" value="<%= typeof userData !== 'undefined' ?  userData.nr : '' %>">
            </div>
            <div class="col-md-6">
                <label>Telefoonnummer (mobiel):</label>
                <input class="form-control" name="phone" type="text" value="<%= typeof userData !== 'undefined' ?  userData.phone : '' %>">
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label>Straat:</label>
                <input class="form-control" name="street" type="text" value="<%= typeof userData !== 'undefined' ?  userData.street : '' %>">
            </div>
            <div class="col">
                <label>Plaats:</label>
                <input class="form-control" name="city" type="text" value="<%= typeof userData !== 'undefined' ?  userData.city : '' %>">
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-auto justify-content-end">
                <button type="submit" id="addressBtn" class="btn btn-dark">Verder met bestellen</button>
            </div>
        </div>
    </form>

<script src="/JS/shopping-cart.js"></script>
<script src="/JS/paymentaddress.js"></script>
<% include ../partials/footer %>